######################################################################################################
# Kubernetes cluster info
######################################################################################################
ocpus_per_node = 2
memory_per_node = 8
node_pool_size = 3

######################################################################################################
# Attack targets
######################################################################################################
attack_hosts = [
  "217.12.104.100,80,100,http",
  "92.38.145.145,80,100,http",
  "92.38.145.145,443,100,http",
  "92.38.145.145,444,100,http"
]
